*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

:root{
    background: #dfdfdf;
    font: 15px 'Montserrat', sans-serif;
}

/* ----- STYLING THE HEADER PART OF THE SITE ----- */
/* header is a 4 cols grid with logo (1 col) and nav (3 cols) */
header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #178188;
    color: #ffffff;
    height: 10vh;    
}

/* making header sticky to the top */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

/* logo as link to main (top) */
header .logo{
    grid-column: 1;
    height: 100%;
    display: block;
    text-decoration: none;
    color: white;
    /* flex used to centerize the content*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .3s;
}

header .logo:hover{
    background: #259fa8;
}

/* navigation bar */
header nav{
    grid-column: 2 / 5;
    height: 100%;
    background: #177188;
    padding-right: 20px;
}

header nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

header nav > ul > li > a{
    display: block;
    padding: 10px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: #ffffff;
    transition: border .3s;
}

header nav > ul > li > a:hover{
    border-bottom: 2px solid #ffffff;
}

/* ----- STYLING THE BANNER PART OF THE SITE ----- */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-top: 10vh;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.banner hgroup{
    width: 80%;
    margin: auto;
}

/* writing an 0 width character to both headers in banner */
h1:empty::before{content: "\00a0"}

/* headers have to be inline to the cursor effect element */
.banner hgroup h1{display: inline}

/* Size of font on the header on desktop version */
.banner .text-type-first{font-size: 6rem}
.banner .text-type-second{font-size: 2rem}

/* Class created to typing effect animation */
.banner .typing{border-right: .15rem solid #292929}

.go-down-btn{
    position: absolute;
    bottom: 20px;
}

/* ----- STYLING THE FIRST QUOTE PART OF THE SITE ----- */
.first-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e4856;
    color: #ffffff;
    padding: 3rem 0; 
    font: 1.5rem 'Sedgwick Ave', cursive;
}

/* ----- STYLING THE MAIN PART OF THE SITE ----- */
/* styling all the articles (size) */
main article{
    height: 60vh;
    display: flex;
    padding: 2rem 0;
}

main article:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}

main article .article-photo{
    flex-basis: 40%;
    background-size: cover;
    background-position: center;
}

/* setting photos to articles */
main article .artPic1{background-image: url(../images/articles/1.jpg)}
main article .artPic2{background-image: url(../images/articles/2.jpg)}
main article .artPic3{background-image: url(../images/articles/3.jpg)}
main article .artPic4{background-image: url(../images/articles/4.jpg)}

/* styling article content section with header, paragraph and btn */
main article .article-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
    padding: 0 1rem;
}

/* styling the text part of the content (h2 + p) */
main article .article-content h2{
    letter-spacing: .2rem;
    font-size: 2rem;
}

main article .article-content p{margin-top: 1rem}

/* styling the 'more' button */
main article .article-content .btn-container{margin-top: 1rem}

main article .article-content .more-btn{
    display: inline-block;
    padding: 1rem;
    background-color: #0e4856;
    text-decoration: none;
    color: #ffffff;
    transition: background-color .3s;
}

main article .article-content .more-btn:hover{
    background-color: #177188;
}

/* ----- STYLING THE SLIDER PART OF THE SITE ----- */
.quote-slider{
    background-color: #0e4856;
    color: #ffffff;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

/* container to slides */
.quote-slider .slides{
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 0;
    left: -100%;
}

.slide{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.go-forward{
    left: -200% !important;
    transition: left .8s;
}

.go-back{
    left: 0 !important;
    transition: left .8s;
}

.slide:nth-child(2){
    left: 100%;
}

.slide:nth-child(3){
    left: 200%;
}

/* styling the arrows (relative to .quote-silder) */
.arrow{
    position: absolute;
    top: calc(50% - 1rem);
    font-size: 2rem;
    transition: color .2s;
}

.arrow:hover{
    color: #cccccc;
    cursor: pointer;
}

#arrowLeft{left: 5vw}
#arrowRight{right: 5vw}
/* ----- STYLING THE BLOG PART OF THE SITE ----- */

/* ----- STYLING THE FOOTER PART OF THE SITE ----- */