*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

:root{
    background: #dfdfdf;
    font: 15px 'Montserrat', sans-serif;
    color: #ffffff;
}

ul{list-style-type: none}
a{
    text-decoration: none;
    color: inherit;
}

/* ----- STYLING THE HEADER PART OF THE SITE ----- */
/* header is a 4 cols grid with logo (1 col) and nav (3 cols) */
header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #178188;
    height: 10vh;    
}

/* making header sticky to the top */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

/* logo as link to main (top) */
header .logo{
    grid-column: 1;
    height: 100%;
    /* flex used to centerize the content*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .3s;
}

header .logo:hover{
    background: #259fa8;
}

/* navigation bar */
header nav{
    grid-column: 2 / 5;
    height: 100%;
    background: #177188;
    padding-right: 20px;
}

header nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

header nav > ul > li > a{
    display: block;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: border .3s;
}

header nav > ul > li > a:hover{
    border-bottom: 2px solid #ffffff;
}

/* ----- STYLING THE BANNER PART OF THE SITE ----- */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-top: 10vh;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.banner hgroup{
    width: 80%;
    margin: auto;
}

/* writing an 0 width character to both headers in banner */
h1:empty::before{content: "\00a0"}

/* headers have to be inline to the cursor effect element */
.banner hgroup h1{display: inline}

/* Size of font on the header on desktop version */
.banner .text-type-first{font-size: 6rem}
.banner .text-type-second{font-size: 2rem}

/* Class created to typing effect animation */
.banner .typing{border-right: .15rem solid #292929}

.go-down-btn{
    position: absolute;
    bottom: 20px;
}

/* ----- STYLING THE FIRST QUOTE PART OF THE SITE ----- */
.first-quote{
    text-align: center;
    background-color: #0e4856;
    padding: 3rem 0; 
    font: 1.5rem 'Sedgwick Ave', cursive;
}

/* ----- STYLING THE MAIN PART OF THE SITE ----- */
/* styling all the articles (size) */
main article{
    
    display: flex;
    padding: 2rem 0;
}

main article:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}

main article .article-photo{
    width: 40%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

/* setting photos to articles */
main article .artPic1{background-image: url(../images/articles/1.jpg)}
main article .artPic2{background-image: url(../images/articles/2.jpg)}
main article .artPic3{background-image: url(../images/articles/3.jpg)}
main article .artPic4{background-image: url(../images/articles/4.jpg)}

main article .block-div{
    width: 60%;
}

/* styling article content section with header, paragraph and btn */
main article .article-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
    color: #000000;
}

/* styling the text part of the content (h2 + p) */
main article .article-content h2{
    letter-spacing: .2rem;
    font-size: 2rem;
}

main article .article-content p{margin-top: 1rem}

/* styling the 'more' button */
main article .article-content .btn-container{margin-top: 1rem}

main article .article-content .more-btn{
    display: inline-block;
    padding: 1rem;
    background-color: #0e4856;
    color: #ffffff;
    transition: background-color .3s;
}

main article .article-content .more-btn:hover{
    background-color: #177188;
}

/* ----- STYLING THE SLIDER PART OF THE SITE ----- */
.quote-slider{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #0e4856;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

/* container to slides */
.quote-slider .slides{
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 0;
    left: -100%;
}

/* styling each slide */
.quote-slider .slides .slide{
    width: 100%;
    height: 40vh;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* starting styles of slides number 2 and 3 */
.slide:nth-child(2){left: 100%}
.slide:nth-child(3){left: 200%}

/* classes used as animation to slide change */
.go-forward{
    left: -200% !important;
    transition: left .8s;
}

.go-back{
    left: 0 !important;
    transition: left .8s;
}

/* buttons to slides */
.quote-slider .stage-btns{
    padding: 15px 0;
}

.quote-slider .stage-btns .slide-button{
    padding: 10px;
    border: .2rem solid #259fa8;
    border-radius: 50%;
    transition: background-color .5s;
}

.quote-slider .stage-btns .active-btn{
    background-color: #259fa8;
}


/* styling the arrows (relative to .quote-silder) */
.arrow{
    position: absolute;
    top: calc(50% - 1rem);
    font-size: 2rem;
    transition: color .2s;
}

.arrow:hover{
    color: #cccccc;
    cursor: pointer;
}

#arrowLeft{left: 5vw}
#arrowRight{right: 5vw}

/* ----- STYLING THE BLOG PART OF THE SITE ----- */
.blog{
    width: 90%;
    margin: 20px auto;
    text-align: justify;
    color: #000000;
}

/* container to all aricles diplays as grid */
.blog .blog-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 20px;
}

/* image + title + text is a link to blog article */
.blog .link-to-blog{
    display: flex;
    flex-direction: column;
    transition: all .7s;
    border: 3px solid #dfdfdf;
}

/* link to blog on hover (with image animation) */
.blog .link-to-blog:hover{
    background-color: #178188;
    border-color: #178188;
}

.blog .link-to-blog:hover .blog-img{
    border-color: #178188;
    transform: scale(1.2) rotate(-3deg);
}

/* container needed for transform scale */
.blog .image-container{overflow: hidden}

/* styling things inside a blog (image, title and text) */
.blog .blog-img{
    background-size: cover;
    background-position: center;
    height: 35vh;
    transition: all .7s;
}

.blog .blog-title{
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.blog .blog-content{
    padding: 10px;
}

/* setting images to each blog link */
.blogpic1{background-image: url(../images/blog/1.jpg)}
.blogpic2{background-image: url(../images/blog/2.jpg)}
.blogpic3{background-image: url(../images/blog/3.jpg)}
.blogpic4{background-image: url(../images/blog/4.jpg)}
.blogpic5{background-image: url(../images/blog/5.jpg)}
.blogpic6{background-image: url(../images/blog/6.jpg)}

/* ----- STYLING THE FOOTER PART OF THE SITE ----- */
footer{
    background-color: #041f26;
    font-size: .8rem;
    text-align: center;
}

/* upper footer */
footer .main-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 5%;
}

/* seperate address from contact info */
footer .contact-info li:nth-child(3){margin-top: 1rem}

/* middle (map) div */
footer .map-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 35vh;
}

/* iframe to openstreetmap */
footer .open-street-map{
    height: 35vh;
    width: 100%;
    border: 1px solid #000000;
}

footer .openstreetmap-link{
    font-size: .7rem;
    margin-top: .5rem;
}

footer .openstreetmap-link:hover,
footer .compulsory-files a:hover{
    text-decoration: underline;
}

/* down part (all rights reserved) of the footer */
footer .down-footer{
    background-color: #000000;
    text-align: center;
    padding: 5px 0;
}